<div class="customers-registrations-new-signup">


<div class= "container">
<h2>Sign up</h2>
      <div class="modal-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="wrap-input100 validate-input" data-validate="Name is required">
          <%= f.label :First_name, class:"label-input100" %><br/>
          <%= f.text_field :firstname, class:"input100", placeholder: "First Name"%>
        </div>
        <br/>

        <div class="wrap-input100 validate-input" data-validate="Name is required">
          <%= f.label :Last_name, class:"label-input100" %><br/>
          <%= f.text_field :lastname, class:"input100", placeholder: "Last Name"%>
        </div>
        <br/>

        <div class="wrap-input100 validate-input" data-validate="Name is required">
          <%= f.label :Username, class:"label-input100"%><br/>
          <%= f.text_field :username, class:"input100",placeholder: "Username"%>
        </div>
        <br/>

        <div class="wrap-input100 validate-input">
          <%= f.label :Email, class:"label-input100"%><br/>
          <%= f.email_field :email, class:"input100", autofocus: true, placeholder: "Email" %>
        </div>
        <br/>

        <div class="wrap-input100 validate-input">
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.label :Password, class:"label-input100"%><br/>
          <%= f.password_field :password, class:"input100", placeholder: "Password" %>
        </div>
        <br/>

        <div class="wrap-input100 validate-input">
          <%= f.label :Retype_Password, class:"label-input100" %><br/>
          <%= f.password_field :password_confirmation,class:"input100", placeholder: "Re-type password" %>
        </div> 

        
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
								<%= f.submit "Sign up" %>
							</button>
						</div>
				
				<!--
				<div class="actions">
          <%= f.submit "Sign up" %>
        </div>
				-->
        <% end %>
        <%= link_to 'Back', :back %>
      <%= render "customers/shared/links" %>
    </div>
</div>