<head>
<%= stylesheet_link_tag "customer-signup"%>
</head>
<body>


<div class= "container">
<h2>Sign up</h2>
      <div class="modal-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="wrap-input100 validate-input" data-validate="Name is required">
          <%= f.label :First_name, class:"label-input100" %><br/>
          <%= f.text_field :firstname, class:"input100", placeholder: "First Name"%>
        </div>
        <br/>

        <div class="wrap-input100 validate-input" data-validate="Name is required">
          <%= f.label :Last_name, class:"label-input100" %><br/>
          <%= f.text_field :lastname, class:"input100", placeholder: "Last Name"%>
        </div>
        <br/>

        <div class="wrap-input100 validate-input" data-validate="Name is required">
          <%= f.label :Username, class:"label-input100"%><br/>
          <%= f.text_field :username, class:"input100",placeholder: "Username"%>
        </div>
        <br/>

        <div class="wrap-input100 validate-input">
          <%= f.label :Email, class:"label-input100"%><br/>
          <%= f.email_field :email, class:"input100", autofocus: true, placeholder: "Email" %>
        </div>
        <br/>

        <div class="wrap-input100 validate-input">
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.label :Password, class:"label-input100"%><br/>
          <%= f.password_field :password, class:"input100", placeholder: "Password" %>
        </div>
        <br/>

        <div class="wrap-input100 validate-input">
          <%= f.label :Retype_Password, class:"label-input100" %><br/>
          <%= f.password_field :password_confirmation,class:"input100", placeholder: "Re-type password" %>
        </div> 

        
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
								<%= f.submit "Sign up" %>
							</button>
						</div>
				
				<!--
				<div class="actions">
          <%= f.submit "Sign up" %>
        </div>
				-->
        <% end %>
        <%= link_to 'Back', :back %>
      <%= render "customers/shared/links" %>
    </div>
</div>




<div class="limiter">
		<div class="container-login100">
			

			<div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
				<form class="login100-form validate-form">
					<span class="login100-form-title p-b-59">
						Sign Up
					</span>

					<div class="wrap-input100 validate-input" data-validate="Name is required">
						<span class="label-input100">Full Name</span>
						<input class="input100" type="text" name="name" placeholder="Name...">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<span class="label-input100">Email</span>
						<input class="input100" type="text" name="email" placeholder="Email addess...">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Username is required">
						<span class="label-input100">Username</span>
						<input class="input100" type="text" name="username" placeholder="Username...">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<span class="label-input100">Password</span>
						<input class="input100" type="text" name="pass" placeholder="*************">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Repeat Password is required">
						<span class="label-input100">Repeat Password</span>
						<input class="input100" type="text" name="repeat-pass" placeholder="*************">
						<span class="focus-input100"></span>
					</div>

					<div class="flex-m w-full p-b-33">
						<div class="contact100-form-checkbox">
							<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
							<label class="label-checkbox100" for="ckb1">
								<span class="txt1">
									I agree to the
									<a href="#" class="txt2 hov1">
										Terms of User
									</a>
								</span>
							</label>
						</div>

						
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
								Sign Up
							</button>
						</div>

						<a href="#" class="dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30">
							Sign in
							<i class="fa fa-long-arrow-right m-l-5"></i>
						</a>
					</div>
				</form>
			</div>
			<div class="login100-more" ></div>
		</div>
	</div>
</body>