<div class="job-index">
  <h1 class="title">Job Listing!</h1>

    

  <% if customer_signed_in? %>
    <%= link_to 'Add new job!', new_job_path %>
  <% end %>
    <% @jobs.where(accepted: false).each do |job| %>
      <li>
      <div class="container">
        <div class="row">
          <div class="col-sm"><%= job.title %></div>
          <div class="col-sm"><%= job.description %></div>
          <div class="col-sm"><%= job.price %></div>
        </div>
      </div>
        <td><%= link_to 'Show', show_job_path(job) %></td>
      </li>
    <% end %>
</div>



