<h2><%= @job.title %></h2>

<h3>title</h3>
<p><%= @job.title%></p>
<h3>Description</h3>
<p><%= @job.description %></p>
<h3>Price</h3>
<p>This will say a price<p>
<%= link_to 'Delete', show_job_path(@job),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
<%= link_to "Back", :back %>