<h2><%= @job.title %></h2>

<h3>Description</h3>
<p><%= @job.description %></p>

<h3>posted by:</h3>
<p><%= @job.customer.username %></p>
<p>Job Creator: <%=link_to  @job.customer.username, customer_path(@job.customer) %></p>

  <p>Genre: <%= @job.description %></p>

  <% if customer_signed_in? %>
    <%= render "layouts/shared/stripe_form" , job: @job%>
  <% end %>


<% if @job.uploaded_image.attached? %>
  <%= image_tag @job.uploaded_image.service_url, class: 'image-size' %>
<% else %>
  <p>No image for this job</p>
<% end %>

<% if @job.accepted == true %>
  <p>job accepted!</p>
<% else %>
  <p>Job not accepted</p>
<% end %>




<% if customer_signed_in?%>
  <%= link_to 'Delete', show_job_path(@job), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<%= link_to "Back", :back %>

<% if worker_signed_in? %>
  <%= link_to 'Accept job', show_job_path(@job), method: :accept_email %>
<% end %>