<h2><%= @job.title %></h2>

<h3>Description</h3>
<p><%= @job.description %></p>

<h3>Job posted by:</h3>
<p><%=link_to  @job.customer.username, customer_path(@job.customer) %></p>

  <% if customer_signed_in? && @job.accepted == true %>
    <%= render "layouts/shared/stripe_form" , job: @job%>
  <% else %>
    <h3>Price</h3>
    <p>$<%= @job.price %><p>
  <% end %>


<% if @job.uploaded_image.attached? %>
  <%= image_tag @job.uploaded_image.service_url, class: 'image-size' %>
<% else %>
  <p>No image for this job</p>
<% end %>

<% if @job.accepted %>
  <p>job accepted!</p>
<% else %>
  <p>Job not accepted</p>
<% end %>






<% if customer_signed_in?%>
  <%= link_to 'Delete', show_job_path(@job), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<%= link_to "Back", :back %>

<% if worker_signed_in? && !@job.accepted %>
  <%= link_to 'Accept job', show_job_path(@job, worker: current_worker.id),  method: :accept %>
<% end %>