<h1><%= @worker.username %></h1>
  <h4>Name</h4>
  <p><%= @worker.firstname %><%= @worker.lastname %></p>
  <h4>Email</h4>
  <p><%= @worker.email %></p>
  <h4>About Me</h4>
  <%= @worker.description %>


<%= link_to "Back", :back %>