
        
          <%= form_for(@workerreview, url: worker_reviews_path, :action => "create") do |f| %>
         
           <%= f.hidden_field :worker_id, :value => @worker %>

<div class="new-review">
  <div class="container1">
  <br/>
  

    <center> 
      <h1 class="leave-review", style="color:white">Leave a Review</h1>  
    
      <br/>

      
      <div class="col-md-6 col-md-offset-3" id="login">  
        <%= form_for(@workerreview, url: worker_reviews_path, :action => "create") do |f| %>
         
           <%= f.hidden_field :worker_id, :value => @worker %>
          <div class="form-group">
            <%= f.label :content, class:"user" %>
            <%= f.text_field :content, class:"form-control", id:"text1",  placeholder:"Title" %>
          </div>
          <div class="form-group">
            <%= f.label :Description, class:"user" %>
            <%= f.text_area :description, class:"form-control", cols: "40", rows: "7" ,  placeholder:"Description"%>
          </div>
          <div class="form-group">
            <%= f.submit "Submit", class:"btn btn-success" %>
          </div>
        <% end %>
        <% end %>
        <br/>
         <br/>
        <div class="back">   
          <%= link_to '<< Back', :back %>
        </div>
      </div>
    
    </center>
  </div>
</div>          