<!DOCTYPE html>
<html>
  <head>
    <title>HelpingHand</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>  
   <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #000000">
        <div class="container">
            <a class="navbar-brand" href="#">
                <%= link_to image_tag("Logo.png", alt: "logo"), '/', class: 'navbar-brand1'%>
                </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarResponsive" style="background-color: #000000">
            
            <ul class="navbar-nav ml-auto">
            <% if customer_signed_in? || worker_signed_in? %>
                <% if customer_signed_in? %>
                    <li class="nav-item">
                        <a class="nav-link" >Hi,<%= current_customer.username %> ! you logged in as Customer.</a>
                    </li>
                    
                    
                    <li class="nav-item-active">
                    <a class="nav-link" href="#">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" ><%=link_to "Browse Jobs", jobs_path %></a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" ><%= link_to 'User Profile', current_customer %></a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link"><%= link_to 'Edit Profile', edit_customer_registration_path %></a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link"><%= link_to 'Log out', destroy_customer_session_path, method: :delete %></a>
                </li>
                <%else%>
                    <li class="nav-item">

                        <a class="nav-link" >Hi,<%= current_worker.username %> ! you logged in as Worker.</a>

                    </li>
                    
                    
                    <li class="nav-item-active">
                    <a class="nav-link" href="#">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" ><%=link_to "Browse Jobs", jobs_path %></a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" ><%= link_to 'User Profile', current_worker %></a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link"><%= link_to 'Edit Profile', edit_worker_registration_path %></a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link"><%= link_to 'Log out', destroy_worker_session_path, method: :delete %></a>
                </li>
                <% end %>
            
            <%else%>
                <li class="nav-item">
                    <a class="nav-link" ><%=link_to "Browse Jobs", jobs_path %></a>
                </li>
                
                
                <li class="nav-item-active">
                    <a class="nav-link" href="#">Home
                            <span class="sr-only">(current)</span>
                    </a>
                </li>
                    

            <% end %>   
            </ul>
            </div>
        </div>
    </nav>



   
    <%= yield %>
  </body>
</html>
