<!DOCTYPE html>
<html>
  <head>
    <title>HelpingHand</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>  

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            
            <li class="nav-item"><button class="btn my-2 my-sm-0" ><%=link_to "Home", home_path %></button></li>
            <li class="nav-item"><button class="btn my-2 my-sm-0" ><%=link_to "Job List", jobs_path %></button></li>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <h3 class="navbar-brand">Helping Hand</h3>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <% if customer_signed_in? || worker_signed_in? %>
        <ul class="navbar-nav ml-auto">
            <% if customer_signed_in? %>
            
            <li class="nav-item text-white">
                Hi,<%= current_customer.username %> ! you logged in as Customer.
            </li>
            <li class="nav-item">
                <button class="btn  my-2 my-sm-0" ><%= link_to 'Edit Profile', edit_customer_registration_path %></button>
            </li>
            <%else%>
            <li class="nav-item text-white">
                Hi,<%= current_worker.username %> ! you logged in as Worker.
            </li>
            <li class="nav-item">
                <button class="btn  my-2 my-sm-0" ><%= link_to 'Edit Profile', edit_worker_registration_path %></button>
            </li>
            <% end %>
            <li class="nav-item">
            <button class="btn  my-2 my-sm-0" ><%= link_to 'Log out', destroy_customer_session_path, method: :delete %></button>
                
            </li>
          <% end %>
        </ul>
    </div>
</nav>
    

    <%= yield %>
  </body>
</html>
